/* #root {
  width: 60%;
  margin: 10px auto;
  color: rgba(245, 245, 245, 0.76);
  /* background: url('../images/forest.jpg'); 
  text-align: center;
}
img {
  margin: 0 auto;  
  width: 10px;
  height: 10px;
  
}
.inputCountry {
  margin: 10px;
  padding: 2px 5px;
}
/* .inputCountryDisabled {
  margin: 10px;
  background-color: gainsboro;
  disable :disabled;
} */
#formControl {
  margin: 25px 5px;
}
form {
  margin: 0 auto;
  width: 40%;
  /* border: 1px solid rgb(44, 42, 42); */
} 
/* th,td {
  widows: 60%;
  margin: 5px 5px 5px 5px;
  border-bottom: 1px solid white;
  padding: 5px 5px;
  font: 20px sans-serif;
}
.greeting {
  color: yellow;
} */

.offeredCountries {
  margin: 0 auto;
  width: 70%;
  border: 1px solid white;
}


.offeredCountriesDisabled {
  visibility: collapse;
}

.loading {
  width: 20px;
  height: 20px;
  /* background-color: #0CB1C4; */
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */   
}

.loadingDisabled {
  
  width: 15px;
  height: 15px;
  /* background-color: #0CB1C4; */
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
   visibility: hidden;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
} 